.flexrow3by1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    @media screen and (max-width: 910px) {
        flex-direction: column;
        align-items: center;
    }
}

.image-box {
    max-width: 300px;
    .topleft {
        color: red;
    }
    div.relative {
        max-height: 300px;
        overflow: hidden;
        a {
            img {
                max-width: 100%;
                max-height: auto;
                .bottomright {
                }
            }
        }
    }
}
